<div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Открыть навигацию</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                            <a class="navbar-brand" href="/">Logotipe</a>
                </div>
            <div class="collapse navbar-collapse" id="responsive-menu">
                   <form action="" class="navbar-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search..." value="">
                       </div>
                            <button type="submit" class="btn btn-success btn-lg" >
                                <i class="fa fa-question"> Ask</i>
                            </button>
                                <span class="gravatar-wrapper-24 navbar-right  ">
                                    <img src=" /static/images/my_avatar.jpg " alt=""  width="53" height="43" class="avatar-me js-avatar-me" >
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown dropdown-user-trigger" id="user-menu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}}<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Settings</a></li>
                                                    <li><a href="/accounts/login/">Log Out</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    <!--div id="dd" class="wrapper-dropdown-5  navbar-right" tabindex="1">John Doe
                                        <script >

                                            function DropDown(el) {
                                                this.dd = el;
                                                this.initEvents();
                                            }
                                                DropDown.prototype = {
                                                    initEvents : function() {
                                                        var obj = this;

                                                        obj.dd.on('click', function(event){
                                                            $(this).toggleClass('active');
                                                            event.stopPropagation();
                                                        }); 
                                                    }
                                                }
                                        </script>
                                            <ul class="dropdown">
                                                <li><a href="#"><i class="icon-user"></i>Profile</a></li>
                                                <li><a href="#"><i class="icon-cog"></i>Settings</a></li>
                                                <li><a href="#"><i class="icon-remove"></i>Log out</a></li>
                                            </ul>
                                    </div-->
                                </span>  
                    </form> 
            </div>
        </div>
</div>
  

<!--div class="dropdown-user" id="dropdown-user">
            <a href="/profile/a.borodin/"><img src="/media/avatars/11/03/38db3aed920cf82ab059bfccbd02be6a.jpg" alt="avatar" class="avatar"></a>

            <div class="full_name">
                <a href="/profile/a.borodin/" class="username">
                    Артемий  Бородин
                </a>
            </div>

            <div class="dropdown-user-trigger" id="dropdown-user-trigger"><i></i></div>
        </div-->