{% extends "base.html" %}
 {% block content %}
 {% for instance in queryset %}
  <div class="container">
    <div class="row ">
    <h1 style="color:white">StackOverFlow</h1>
        <div class="col-sm-8">

            <div class="row featurette " style="background: #DCDCDC" >
        <span class="col-sm-2">   <img  id="my-avatar" data-src="holder.js/500x500/auto" alt="50x50" src="/static/images/my_avatar.jpg " alt=""  width="80" height="100" class="img-rounded">
          <div class="btn-group btn-group-vertical">
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-menu-up"></i></a>
                <a href="#" class="btn btn-default">{{ instance.rate }}</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-menu-down"></i></a>
          </div>
        </span>
    <div class="col-sm-10">
        <h2 class="featurette-heading" ><a href="#" style="color: #0000FF;" > Some Question?</a> </h2>

        <p class="lead ;color: #444;" style="font-family:Nord; color: #000000;  ">{{ instance.text }}</p>


        <p class="lead"><a href="#" style="color: #000080;"> Answer(3)      </a>       Tags: <a href="#">Java</a> </p>

    </div>
</div>

<br>
            {% include 'pagination_template.html' %}

        </div>

        <div class="col-sm-3">

        </div>
        {% include 'tags.html' %}

    </div>
</div>
  {% endfor %}
{% endblock %}