
            <nav>
                  <ul class="pagination" style="color: blue">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                        <li><a href="#" class="blacksquare">1</a></li>
                        <li><a href="#" class="blacksquare">2</a></li>
                        <li><a href="#" class="blacksquare">3</a></li>
                        <li><a href="#" class="blacksquare">4</a></li>
                        <li><a href="#" class="blacksquare">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
            </nav>