<!--div class="col-sm-2 col-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Tags</h4>
                    <ol class="list-unstyled">
                      <li><a href="#">PHP</a></li>
                      <li><a href="#">JAVA</a></li>
                      <li><a href="#">WEB</a></li>
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">NGINX</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">IDEA</a></li>
                      <li><a href="#">JAVASCRIPT</a></li>
                      <li><a href="#">GUNICORN</a></li>
                      <li><a href="#">WSGI</a></li>
                      <li><a href="#">JANGO</a></li>
                    </ol>
          </div>
</div-->


<div class=" col-sm-3 sidebar-offcanvas navbar-right" id="sidebar" role="navigation">
 
  
  <br>
  <div class="panel-group" id="category">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h4 class="panel-title"><a href="/posts/programming/">Программирование</a></h4>
	  </div>
		
		<a href="/posts/python/" class="list-group-item">Python</a>
		<a href="/posts/cpp/" class="list-group-item">C++</a>
		<a href="/posts/javascript/" class="list-group-item">JavaScript</a>
		
	</div>
	<!-- BEGIN WEB DEVELOPMENT BLOCK -->
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h4 class="panel-title"><a href="/posts/web_development/">Веб-разработка</a></h4>
	  </div>
	  <a href="/posts/django/" class="list-group-item">Django</a>
	  <a href="/posts/asp_dot_net/" class="list-group-item">ASP.NET</a>
	</div>
	<!-- END WEB DEVELOPMENT BLOCK -->
	<!-- BEGIN MOBILE DEVELOPMENT BLOCK -->
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h4 class="panel-title"><a href="/posts/mobile_development/">Мобильная разработка</a></h4>
	  </div>
	  <a href="/posts/windows_phone/" class="list-group-item">Windows Phone</a>
	  <a href="/posts/android/" class="list-group-item">Android</a>
	</div>
	<!-- END MOBILE DEVELOPMENT BLOCK -->
	<!-- BEGIN GAME DEVELOPMENT BLOCK -->
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h4 class="panel-title"><a href="/posts/game_development/">Разработка игр</a></h4>
	  </div>
	  <a href="/posts/unity3d/" class="list-group-item">Unity3d</a>
	  <a href="/posts/blender/" class="list-group-item">Blender</a>
	</div>
	<!-- END GAME DEVELOPMENT BLOCK -->
	
  </div>
</div>