{% extends "base.html" %}
        {% block content %}
                   
    <div class="container">
    <div class="row ">
    
        <h1>StackOverFlow</h1>
        
        
        
        <div class="col-sm-10">
            
                <h2 class="blog-post-title">Search: Something</h2>
            
 <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1" >            
                
               
                  
            
            
            <br>
            <br>
            
                
                
            
            
            <div class="panel panel-default">
  <div class="panel-body">
    
                   <div class="row featurette">
        <span class="col-sm-2">   <img class="featurette-image img-responsive" id="my-avatar" data-src="holder.js/500x500/auto" alt="50x50" src="https://www.gravatar.com/avatar/776d3a93b5a0cc54f70cf91d2277f5f2?s=48&amp;d=identicon&amp;r=PG&amp;f=1" alt=""  width="80" height="80" class="avatar-me js-avatar-me">
          <div class="btn-group btn-group-vertical">
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-menu-up"></i></a>
                <a href="#" class="btn btn-default">5</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-menu-down"></i></a>

            </div>
        </span>
       
        
        <div class="col-sm-10">
       
          <p class="lead">Bla bla bla?Bla bla bla?Bla bla bla?Bla bla bla?Bla bla   bla?
            Bla bla bla?
            adhwag hddgawh hdgawhg dawawd awjhd jkha dhakhd jkahd ka dhawjkh dkah ad hakwhdjk awhjkdh jkawhd hakwdjkahdlawlhdl adlawhd hajhd
              wafaFawf
              FAawFwa
              fWWWWWWWWWWWWWWWWWWWWWWWW
              fWFWFFFFFFFFFF
              fwfwWFW
              FWa</p>
              <p class="lead"><input type="checkbox" aria-label="...">  Correct!</p>
             
            
            
        </div>
      </div>
  </div>

</div>
               
            
            
            <div class="panel panel-default">
  <div class="panel-body">
   <div class="row featurette">
        <span class="col-sm-2">   <img class="featurette-image img-responsive" id="my-avatar" data-src="holder.js/500x500/auto" alt="50x50" src="https://www.gravatar.com/avatar/776d3a93b5a0cc54f70cf91d2277f5f2?s=48&amp;d=identicon&amp;r=PG&amp;f=1" alt=""  width="80" height="80" class="avatar-me js-avatar-me">
          <div class="btn-group btn-group-vertical">
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-menu-up"></i></a>
                <a href="#" class="btn btn-default">5</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-menu-down"></i></a>

            </div>
        </span>
       
        
        <div class="col-sm-10">
          
          <p class="lead">Bla bla bla?Bla bla bla?Bla bla bla?Bla bla bla?Bla bla   bla?
            Bla bla bla?
            adhwag hddgawh hdgawhg dawawd awjhd jkha dhakhd jkahd ka dhawjkh dkah ad hakwhdjk awhjkdh jkawhd hakwdjkahdlawlhdl adlawhd hajhd a</p>
            <p class="lead"><input type="checkbox" aria-label="...">  Correct!</p>
            
            
        </div>
      </div>
            
  </div>
  
</div>
             <hr class="featurette-divider">
            
            
           <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
               
        </div>
        
        
    
            
               
      
        
        
        
        
        
     
        
        
        
        
    </div>
</div>     
        {% endblock %}